{
	"rules": {
		"color-no-invalid-hex": true,
		"function-calc-no-invalid": true,
		"function-calc-no-unspaced-operator": true,
		"function-linear-gradient-no-nonstandard-direction": true,
		"declaration-block-no-duplicate-properties": true,
		"block-no-empty": true,
		"comment-no-empty": true,
		"no-duplicate-at-import-rules": true,
		"no-duplicate-selectors": true, 
		"no-extra-semicolons": true,
		"function-url-no-scheme-relative": true,
		"shorthand-property-no-redundant-values": true,
		"declaration-block-no-redundant-longhand-properties": true,
		"no-unknown-animations": true,
		"color-hex-case": "lower",
		"color-hex-length": "short",
		"function-comma-space-after": "always",
		"function-comma-space-before": "never",
		"function-parentheses-space-inside": "never",
		"function-whitespace-after": "always", 
		"number-leading-zero": "never",
		"value-list-comma-space-after": "always",
		"value-list-comma-space-before": "never",
		"declaration-colon-space-after": "always",
		"declaration-colon-space-before": "never",
		"selector-attribute-brackets-space-inside": "never",
		"selector-pseudo-class-parentheses-space-inside": "never",
		"selector-list-comma-newline-after": "always",
		"media-feature-colon-space-after": "always",
		"media-feature-colon-space-before": "never",
		"media-feature-parentheses-space-inside": "never",
		"media-feature-range-operator-space-after": "always",
		"media-feature-range-operator-space-before": "always",
		"indentation": 4
	}
}