{{/**
** header.html 头部导航模版
** @param [basePath] 相对src目录路径
** @param [navPath] 相对内页article目录路径
** @param [indexPath] index.html相对当前文件路径
*/}}
<div class="header">
	<div class="wp1050 clearfloat">
		<h1><a href="{{indexPath}}index.html"><img src="{{basePath}}images/logo1.png" alt="" title="" /></a></h1>
		<ul class="nav">
			<li class="on"><a href="{{indexPath}}index.html">首页</a></li>
			<li><a href="{{navPath}}product_list.html">产品中心</a></li>
			<li><a href="#">快讯</a></li>
			<li><a href="#">服务</a></li>
			<li><a href="#">加入</a></li>
			<li><a href="#">司米</a></li>
		</ul>
	</div>
</div>